@default-color: #00bcd4;
@yellow-color: #dcff41;
@dark-blue: #2E657F;
@light-blue: #357492;
@light-grey: #EFF7F9;

* {
  font-family: Roboto, sans-serif;
}

.filter-item-container {
  padding-bottom: 5px;

  &.boolean-field-container {
    padding-top: 44px;
  }
}

.entity-navigation {
  background-color: @light-blue;
  margin: 0 0 2px 0 !important;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

  .navigation-item-container {
    background-color: @default-color;
    color: @light-grey;

    .entity-navigation-item {
      &.selected {
        color: @yellow-color;
        font-weight: bold;
      }
    }
  }
}

.selected-navigation-menu-item {
  color: @default-color;
}

.entity-field-container {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;

  .entity-field {
    vertical-align: top;
  }

  .entity-navigation-icon {
    vertical-align: top;
    padding: 30px 10px;
    cursor: pointer;
  }
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .chip {
    display: table;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 3px;

    .chip-item {
      display: table-cell;
      vertical-align: top;
    }

    .material-icons {
      cursor: pointer;
      font-size: 20px;
      padding-left: 10px;
      color: #888;
      font-weight: bold;

      &:hover {
        color: #000;
      }
    }
  }
}

.navigation-tree {
  position: fixed;
  width: 300px;
  left: 0;
  top: 60px;
  height: ~"calc(100vh - 60px)";
  overflow-y: scroll;
  background: @light-blue;
  color: @light-grey;
  transition: left .5s ease-in;

  .navigation-filter {
    margin: 10px 5px 0 5px;

    .material-icons {
      font-size: 16px;
    }
  }

  .nav-tree-item {
    &:hover {
      background: lighten(@light-blue, 5%);
    }

    .tree-item-icon {
      vertical-align: middle;
      transition: all 0.5s;

      &.reverse-icon {
        transform: rotate(180deg);
      }
    }
  }


  &.hidden-tree {
    left: -300px;
    transition: left .5s ease-out;
  }
}

.input-group {
  .form-control {
    z-index: unset!important;
  }
}

.modal {
  z-index: 1000000!important;
}

.main-view-wrapper {
  padding-top: 60px;
  padding-left: 300px;
  transition: padding-left  .5s ease-in;

  &.full-view {
    padding-left: 0;
    transition: padding-left .5s ease-out;
  }
}

.nemesis-navbar {
  position: fixed;
  height: 60px;
  right: 0;
  left: 0;
  z-index: 1030;
  background: @dark-blue;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;

  .nemesis-navbar-header {
    display: inline-block;
    float: left;
    color: @light-grey;
    font-size: 25px;
    padding: 13px 10px;
  }

  .sidebar-icon {
    float: left;
    color: @light-grey;
    font-size: 28px;
    padding: 17px 10px;
    cursor: pointer;
  }

  .nemesis-navbar-right {
    float: right;
    padding: 12px;
  }

  .logout-button {
    cursor: pointer;
    display: inline-block;
    color: @light-grey;
    margin: 0 10px;

    span {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: top;
    }

    .material-icons {
      vertical-align: top;
      font-size: 20px;
    }
  }
}



