@import './variables';

* {
  font-family: Roboto, sans-serif;
}

body {
  &.overflow-portal {
    overflow: hidden;
  }
}

.initially-loading-screen {
  background: @main-blue;
  color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center;
  padding-top: ~"calc(50vh - 75px)";

  .loading-text {
    font-size: 30px;
    margin: 10px;
  }

  .loading-dots {
    text-align: center;

    .dot {
      display: inline;
      margin-left: 0.2em;
      margin-right: 0.2em;
      position: relative;
      top: -1em;
      font-size: 80px;
      opacity: 0;
      animation: showHideDot 2.5s ease-in-out infinite;

      &:nth-of-type(1) { animation-delay: 0.2s; }
      &:nth-of-type(2) { animation-delay: 0.4s; }
      &:nth-of-type(3) { animation-delay: 0.6s; }
    }
  }

  @keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }
}

.table-header-element {
  .sort-icon-container {
    position: relative;
  }

  .fa {
    position: absolute;
    font-size: 18px;
    left: 5px;
    line-height: 14px;
    cursor: pointer;

    &.selected {
      color: @red-color;
    }

    &.up-icon {
      top: -6px;
    }

    &.down-icon {
      top: 6px;
    }
  }
}

.portals-container {
  &:empty {
    display: none;
  }

  &:not(:empty) {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  }

  .embedded-creation-portal {
    width: 1080px;
    margin: 100px auto;
    background: white;
    padding: 20px;

    .loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 100000;

      .loading-icon {
        font-size: 50px;
        position: absolute;
        top: ~"calc(50vh - 35px)";
        left: ~"calc(50vw - 35px)";
        color: @dark-blue;
      }
    }

    .portal-action-buttons-container {
      text-align: center;
      padding: 20px;
    }

    .nemesis-field-container {
      margin-right: 15px;
      margin-bottom: 15px;
      padding: 20px 20px 30px 20px;
      display: block;
      vertical-align: top;

      &.with-icon {
        padding-right: 10px;
        .entity-field-container {
          .entity-field-input-container {
            width: ~"calc(100% - 35px)";
          }
        }
      }

      .entity-field-container {
        width: 100%;

        .entity-field-input-container {
          display: inline-block;
          width: 100%;

          label {
            vertical-align: top;
          }
        }
      }
    }

    &:not(:last-of-type) {
      display: none;
    }
  }
}

.nemesis-side-bar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 60px;
  height: 100vh;
  z-index: 1000000;
  background: @main-blue;

  .nemesis-side-bar-item {
    padding: 5px 5px 0;
    margin: 0 10px 10px;
    text-align: center;
    background: @main-blue-darker;

    .nemesis-side-bar-icon {
      font-size: 30px;
      color: white;
    }
  }
}

.console-configuration-panel {
  padding: 60px 0 60px 60px;
  background: @light-grey;

  .configuration-type-box {
    padding: 20px;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    height: 200px;
    vertical-align: top;
    margin: 20px;
  }

  .all-fields-configuration {

    .fields-container {
      display: grid;
      grid-template-columns: auto auto auto auto;

      .field-key-container {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        border: 1px solid @border-colors;
        margin: 10px;
        cursor: pointer;
        background: white;
      }
    }
  }

  .sidebar-admin-configuration {
    .sidebar-admin-configuration-header {
      text-align: right;
      margin: 20px 20px 0 20px;
      position: relative;

      .nemesis-button {
        padding: 8px 25px;
        height: 36px;
        width: 200px;
      }
      .save-button {
        margin-right: 10px;
      }
    }

    .sidebar-admin-item-panel {
      margin: 20px;
      padding: 20px;
      position: relative;

      .delete-icon-container {
        position: absolute;
        right: 4px;
        top: 4px;
        color: @red-color;
        background: white;
        width: 28px;
        height: 28px;
        cursor: pointer;
        text-align: center;

        .material-icons {
          font-size: 26px;
        }
      }
    }
  }

  .master-admin-configuration {
    .entity-name-container {
      text-align: center;
      font-size: 20px;
    }
  }

  .master-admin-configuration-header {
    text-align: right;
    margin: 20px 20px 0 20px;
    position: relative;

    .back-button {
      position: absolute;
      top: 0;
      left: 0;

      .material-icons {
        font-size: 30px;
        color: @main-blue-darker;
        cursor: pointer;
        font-weight: bold;
      }
    }

    .add-field-container {
      text-align: left;
      vertical-align: top;
      display: inline-block;
    }

    .save-button {
      padding: 8px 25px;
      height: 36px;
      width: 200px;
      margin-right: 10px;
    }
  }

  .master-admin-field-panel {
    margin: 20px;

    .master-admin-field-panel-header {
      background: @main-blue;
      color: @light-font-color;
      font-size: 16px;
      padding: 7px 10px;
      position: relative;
      cursor: pointer;

      .delete-icon-container {
        position: absolute;
        right: 4px;
        top: 4px;
        color: @red-color;
        background: white;
        width: 28px;
        height: 28px;
        cursor: pointer;
        text-align: center;

        .material-icons {
          font-size: 26px;
        }
      }
    }

    .master-admin-fields-container {
      padding: 10px 20px;

      &.collapsed {
        display: none;
      }

      .entity-field-container {
        margin-bottom: 15px;
        margin-right: 15px;
      }
    }
  }
}

.simple-view {
  padding: 60px 0 60px 60px;
  background: @light-grey;

  .simple-view-item-selector {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #d3d3d3;
    margin: 10px;
    cursor: pointer;
    background: white;
    min-width: 200px;
  }

  .simple-entity-item-view {
    position: relative;
    overflow-x: hidden;

    .loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 100000;

      .loading-icon {
        font-size: 50px;
        position: absolute;
        top: ~"calc(50vh - 35px)";
        left: ~"calc(50vw - 35px)";
        color: @dark-blue;
      }
    }

    .simple-entity-item-view-header {
      padding: 20px 100px;
      text-align: right;
      position: relative;

      .save-button {
        padding: 8px 25px;
        height: 36px;
        width: 200px;
        margin-right: 10px;
      }

      .back-button {
        position: absolute;
        top: 15px;
        left: 15px;

        .material-icons {
          font-size: 30px;
          color: @main-blue-darker;
          cursor: pointer;
          font-weight: bold;
        }
      }

      .language-changer {
        text-align: left;
        width: 200px;
      }
    }

    .simple-entity-main-content {
      position: relative;

      .simple-entity-item-main-view {
        width: ~"calc(100% - 510px)";
        display: inline-block;
        text-align: center;
        vertical-align: top;
      }

      .nemesis-field-container {
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 20px 20px 30px 20px;
        display: block;
        vertical-align: top;

        &.with-icon {
          padding-right: 10px;
          .entity-field-container {
            .entity-field-input-container {
              width: ~"calc(100% - 35px)";
            }
          }
        }

        .entity-field-container {
          width: 100%;

          .entity-field-input-container {
            display: inline-block;
            width: 100%;

            label {
              vertical-align: top;
            }
          }
        }
      }

      .additional-sidebar-container {
        display: inline-block;
        width: 510px;
        position: relative;

        .back-to-group-button {
          position: absolute;
          top: 10px;
          left: 0;

          .material-icons {
            font-size: 30px;
            color: @main-blue-darker;
            cursor: pointer;
            font-weight: bold;
          }
        }

        .groups-container {
          text-align: center;

          .group-item-button {
            display: block;
            width: 412px;
            margin-bottom: 10px;
          }
        }

        .selected-group {

          .group-name-container {
            text-align: center;
            font-size: 20px;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.admin-permission-configuration {
  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100000;

    .loading-icon {
      font-size: 50px;
      position: absolute;
      top: ~"calc(50vh - 35px)";
      left: ~"calc(50vw - 35px)";
      color: @dark-blue;
    }
  }

  .entities-table-viewer {
    background: white;
    padding: 10px;
    margin: 10px;
  }

  .entity-field-container {
    width: 350px;
    padding: 10px;
  }
}

.filter-item-container {
  padding-bottom: 5px;

  .filter-restriction-field {
    vertical-align: top;
    margin-right: 15px;
    display: inline-block;
    width: 265px;

    .filter-restriction-field-select {
      .Select-control {
        border-radius: 0;
        border-color: @border-colors;

        .Select-clear {
          color: @dark-font-color;
        }
      }
    }
  }

  .entity-field-input-container {
    width: 265px;
    display: inline-block;
  }
}

.select-custom-arrow {
  padding: 5px;
  color: @dark-font-color;
}

.language-changer {
  display: inline-block;
  width: 265px;
  vertical-align: top;
}

.nemesis-navbar {
  position: fixed;
  height: 60px;
  right: 0;
  left: 0;
  z-index: 1030;
  background: @main-blue-darker;

  .nemesis-navbar-header {
    display: inline-block;
    float: left;
    color: @light-font-color;
    font-size: 25px;
    padding: 13px 20px;
  }

  .nemesis-navbar-icon {
    float: left;
    color: @light-font-color;
    font-size: 20px;
    padding: 20px 22px;
    cursor: pointer;
    background: @main-blue;
    width: 60px;
  }

  .nemesis-navbar-right {
    float: right;
    padding: 12px;
  }

  .header-language-changer {
    .Select-control {
      border: none;
      background: @main-blue;
      border-radius: 0;
      .Select-value {
        padding: 0 20px;

        .Select-value-label {
          color: @light-font-color !important;
        }
      }
    }

    .select-custom-arrow {
      color: @light-font-color !important;
    }
  }

  .logout-button {
    cursor: pointer;
    display: inline-block;
    color: @light-font-color;
    margin: 7px 20px;

    span {
      font-size: 16px;
      vertical-align: top;
    }

    .logout-icon {
      vertical-align: top;
      font-size: 20px;
    }
  }
}

.live-edit-dropdown {
  .live-edit-toggle {
    padding: 0;
    margin-right: 10px;
    border-radius: 0;
    border: none !important;
    color: white !important;
    background: @main-blue !important;
    box-shadow: none !important;
  }

  .live-edit-dropdown-content {
    width: 150px;
    padding: 8px 20px;
    text-align: left;

    .arrow-icon {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
}

.navigation-tree {
  position: fixed;
  width: 300px;
  left: 60px;
  top: 60px;
  height: ~"calc(100vh - 60px)";
  overflow-y: auto;
  background: @dark-grey-darker;
  transition: left .5s ease-in;

  .navigation-filter {
    padding: 10px 40px 10px 20px;
    background: @dark-grey-darker;

    .navigation-filter-input {
      height: 40px;
      line-height: 40px;
      background: @dark-grey-darker;
      color: @dark-font-color;
      border: none;
      font-size: 22px;

      &:focus {
        outline: none;
      }
    }

    .search-icon {
      position: absolute;
      right: 20px;
      top: 23px;
      font-size: 14px;
      color: @dark-font-color;
    }
  }

  .nav-tree-item {
    color: @light-font-color;

    &.main-level {
      background: @dark-grey;
      &.expanded-item {
        background: @dark-grey-lighter;
      }

      &:hover {
        background: @dark-grey-lighter;

        .tree-item-icon {
          color: @light-font-color;
        }
      }
    }

    &.nested-level {
      background: @dark-grey-lighter;
      &:hover {
        color: @main-blue;

        .tree-item-icon {
          color: @main-blue;
        }
      }
    }

    .tree-item-icon {
      vertical-align: middle;
      transition: all 0.5s;
      float: right;
      color: @dark-font-color;

      &.reverse-icon {
        transform: rotate(90deg);
      }
    }

    .add-icon {
      vertical-align: middle;
      margin-left: 15px;
      font-size: 19px;
    }
  }

  &.hidden-tree {
    left: -300px;
    transition: left .5s ease-out;
  }

  .loading-text {
    color: @light-font-color;
  }
}

.selected-navigation-menu-item {
  color: @main-blue-darker;
}

.default-filter {
  position: relative;
  .default-filter-buttons-container {
    .default-filter-button {
      width: 135px;
      border: none;
      border-radius: 0;
      height: 40px;
      text-transform: uppercase;
      color: @light-font-color;
      vertical-align: top;
      margin-right: 15px;

      &.search-button {
        background: @main-blue-darker;
      }

      &.clear-button {
        background: @light-grey-darker;
      }
    }

    .filter-operation-container {
      display: inline-block;

      .filter-operation-type {
        text-align: center;

        .filter-operation-type-text {
          background: @main-blue-darker;
          color: white;
          cursor: pointer;
          width: 50px;
          margin: 0 auto;
        }
      }
    }
  }

  .filter-resize-icon {
    position: absolute;
    bottom: -30px;
    left: ~"calc(50% - 21px)";
    border: 1px solid @border-colors;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;

    .material-icons {
      font-size: 38px;
      color: @dark-font-color;

      &.reversed {
        transform: scale(1) rotate(180deg);
      }
    }
  }
}

.entities-table-viewer {
  table {
    width: 100%;

    .content-header {
      background: @light-grey;
      height: 36px;
      th:first-of-type {
        padding-left: 20px;
      }
    }

    .navigation-header {
      th {
        padding-bottom: 20px;
      }

      .language-changer {
        vertical-align: bottom;
      }
    }

    .navigation-footer {
      td {
        padding-top: 20px;
      }
    }

    tbody {
      tr {
        height: 50px;
        border-bottom: 1px solid @border-colors;

        &:hover {
          background: @light-grey;
        }

        td:first-of-type {
          padding-left: 20px;
        }

        td:last-of-type {
          padding-right: 20px;
        }
      }
    }
  }
}

.entities-pager-container {
  display: inline-block;
  user-select: none;
  margin: 0 10px;

  .entities-pager {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;

    .display-table {
      border-spacing: 5px 0;
      border-collapse: separate;
    }

    .entities-pager-button-container {
      border: 1px solid @border-colors;
      padding: 3px;

      .entities-pager-button {
        cursor: pointer;
        font-size: 28px;
        color: @dark-font-color;
        vertical-align: middle;
      }
    }

    .page-content {
      vertical-align: middle;
      font-size: 16px;
      padding: 0 13px;
      font-weight: bold;
    }
  }
}

.Select {

  .Select-control {
    border-radius: 0;
    border-color: @border-colors;
  }

  &.is-disabled {
    & > .Select-control {
      background-color: #eee;

      .Select-value {
        .Select-value-label {
          color: @dark-font-color;
        }
      }

      .select-custom-arrow {
        color: @dark-font-color-transparent
      }
    }
  }
}

.entity-field-container {
  display: inline-block;
  vertical-align: top;

  .entity-field {
    vertical-align: top;
    border-radius: 0;
    border-color: @border-colors;

    &.empty-required-field {
      background: #fcebf0;

      .Select-control {
        background: #fcebf0;
      }
    }

    &.form-control {
      height: 36px !important;
    }

    &[disabled] {
      color: @dark-font-color
    }

    &.has-error {
      border-color: @red-color;
    }

    .Select-control {
      border-radius: 0;
      border-color: @border-colors;
    }
  }

  .error-container {
    color: @red-color;
  }

  .entity-navigation-icon {
    vertical-align: top;
    padding: 30px 0 0 10px;
    cursor: pointer;
    font-size: 24px;
    width: 35px;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .chip {
    display: table;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 3px;
    position: relative;

    .reorder-icon {
      display: none;
      position: absolute;
      font-size: 16px;
      top: 12px;
      cursor: pointer;
      color: #888;

      &:hover {
        color: #000;
      }

      &.reorder-back-icon {
        left: 7px;
      }

      &.reorder-front-icon {
        right: 7px;
      }
    }

    &:hover {
      padding: 10px 25px;

      .reorder-icon {
        display: block;
      }
    }

    .chip-item {
      display: table-cell;
      vertical-align: top;
    }

    .material-icons {
      cursor: pointer;
      font-size: 20px;
      padding-left: 10px;
      color: #888;

      &:hover {
        color: #000;
      }
    }
  }
}

.input-group {
  .form-control {
    z-index: unset !important;
  }
}

.modal {
  z-index: 1000000 !important;
  .modal-content {
    border-radius: 0 !important;
  }
}

.nemesis-button {
  text-transform: uppercase;
  background: white;
  padding: 10px 25px;
  color: @dark-font-color;
  display: inline-block;
  height: 40px;
  border: 1px solid @border-colors;
  cursor: pointer;

  &.dark-button {
    color: white;
    background: @dark-grey-darker;
  }

  &.decline-button {
    color: white;
    background: @light-grey-darker;
  }

  &.success-button {
    color: white;
    background: @main-blue-darker;
  }

  &.danger-button {
    color: white;
    background: @red-color;
  }
}

.nemesis-link-button {
  color: @main-blue;
  cursor: pointer;
}

.required-star {
  color: #eb0848;
  margin-left: 5px;
  font-size: 18px;
  line-height: 14px;
}

.nemesis-html-editor {
  .btn, .form-control, .dropdown-menu {
    border-radius: 0 !important;
  }
}

.main-view-wrapper {
  padding-top: 60px;
  padding-left: 360px;
  transition: padding-left .5s ease-in;

  &.full-view {
    padding-left: 60px;
    transition: padding-left .5s ease-out;

    .entity-navigation {
      width: 100%;
    }
  }

  &.iframe-view {
    padding: 0;

    .entity-navigation {
      width: 100%;
    }
  }

  .entities-viewer, .entity-sections {
    position: relative;

    &.on-loading {
      height: ~"calc(100vh - 116px)";
      overflow: hidden;
    }

    .loading-screen {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 100000;

      .loading-icon {
        font-size: 50px;
        position: absolute;
        top: ~"calc(50% - 35px)";
        left: ~"calc(50% - 35px)";
        color: @dark-blue;
      }
    }
  }

  .entity-sections {

    .functional-buttons-container {
      position: relative;
      padding-bottom: 10px;
      padding-right: 25px;

      .rest-navigation {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 20px;
        color: @main-blue-darker;
        cursor: pointer;
      }

      .functional-button {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }

    .section-navigation {
      padding: 10px 10px 0;
      background: @main-blue-darker;

      .section-navigation-item {
        display: inline-block;
        height: 40px;
        color: white;
        background: @main-blue;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 10px 15px;
        cursor: pointer;

        &.active {
          color: black;
          background: white;
        }
      }
    }

    .entity-section {
      padding: 20px;

      .section-item-container {
        margin-right: 15px;
        margin-bottom: 15px;
        padding: 20px 20px 30px 20px;
        display: inline-block;
        vertical-align: top;

        .entity-field-input-container {
          width: 295px;
          display: inline-block;

          label {
            vertical-align: top;
          }
        }

        .language-changer {
          width: 300px;
        }

        &.simple-item-container {

        }

        &.single-item-container-with-icon {
          padding-right: 10px;
          .entity-field-input-container {
            width: 270px;
          }
        }

        &.item-container-with-icon {
          padding-right: 10px;
        }

        &.full-screen-item-container {
          width: 1385px;
        }
      }
    }
  }

  .entity-navigation {
    position: fixed;
    width: ~"calc(100% - 360px)";
    background-color: @light-grey-darker;
    margin: 0 0 2px 0 !important;
    padding: 10px 15px 0;
    z-index: 100;

    .entity-nav-dropdown {
      background: @main-blue-darker;
      color: @light-font-color;
      height: 40px;
      margin: 0 5px 10px 0;
      border: none;
      border-radius: 0;
      padding-left: 5px;
      padding-right: 26px;

      .dropdown-menu {
        border: none;
        border-radius: 0;
      }

      .dropdown-title-container {
        span {
          vertical-align: top;
        }

        .dropdown-caret-icon {
          position: absolute;
          top: 9px;
          right: -17px;
        }
      }

      .close-icon {
        margin-left: 15px;
        vertical-align: middle;
        font-size: 20px;
        color: #888;

        &:hover {
          color: #000;
        }
      }

      &.open > a {
        background: @main-blue-darker;
      }

      & .dropdown-toggle {
        color: @light-font-color;

        &:hover, &:focus {
          background: @main-blue-darker;
          color: @light-font-color;
        }
      }

      &.selected {
        background-color: @light-grey;

        &.open > a {
          background-color: @light-grey;
        }

        & .dropdown-toggle {
          color: @darken-font-color;

          &:hover, &:focus {
            color: @darken-font-color;
            background-color: @light-grey;
          }
        }
      }
    }
  }
}

.entities-window {
  overflow-y: auto;
  padding: 15px 15px 5px;
  min-height: ~"calc(100vh - 120px)";
  background: @light-grey;
  position: relative;

  .entities-filter {
    padding: 17px 20px 20px;
  }

  .entities-result-viewer {
    padding: 17px 20px 20px;
    margin-top: 15px;
  }
}

.projection-table {
  .material-icons {
    vertical-align: top;
    cursor: pointer;
  }

  .delete-icon {
    color: @red-color;
    margin-left: 10px;
  }
}

.nemesis-radio-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  user-select: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: @light-grey;
  border: 1px solid @light-grey-darker;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border-radius: 50%;
  margin-left: -5px !important;

  &:focus {
    outline: none !important;
  }

  &.active, &.default-checked:checked {
    &::before {
      content: "";
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: @main-blue;
    }
  }
}

.nemesis-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  user-select: none;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: @light-grey;
  border: 1px solid @light-grey-darker;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;

  &:focus {
    outline: none !important;
  }

  &.active, &.default-checked:checked {
    &::before {
      content: "";
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      width: 12px;
      height: 12px;
      background: @main-blue;
    }
  }
}

.paper-box {
  box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px, rgba(0, 0, 0, 0.117647) 0 1px 4px;
  background: white;

  &.with-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.188235) 0 5px 15px, rgba(0, 0, 0, 0.188235) 0 1px 6px;
  }
}

.line {
  margin: 17px 0;
  height: 1px;
  border: none;
  background-color: @light-grey;
}

.form-control:not(textarea, div) {
  height: 36px !important;
}

.admin-panel {

  .admin-info-panel-container {
    width: ~"calc(100% - 60px)";
    margin: auto;

    .admin-info-panel {
      height: 140px;
      padding: 20px;
      margin: 20px;
      width: ~"calc(25% - 40px)";
      display: inline-block;
      background: white;

      &:nth-of-type(1) {
        .info-panel-icon {
          background: #F24F4B;
        }
      }

      &:nth-of-type(2) {
        .info-panel-icon {
          background: #7263BC;
        }
      }

      &:nth-of-type(3) {
        .info-panel-icon {
          background: #0CB6E7;
        }
      }

      &:nth-of-type(4) {
        .info-panel-icon {
          background: #16C445;
        }
      }

      .info-panel-icon {
        color: white;
        padding: 15px;

        .material-icons {
          font-size: 60px;
        }
      }

      .info-panel-text {
        vertical-align: top;
        padding: 10px 20px;

        .info-panel-count {
          font-weight: bold;
          font-size: 30px;
        }

        .info-panel-type {
          font-size: 18px;
        }
      }
    }
  }

  .admin-small-chart-container {
    width: ~"calc(100% - 60px)";
    margin: auto;

    .small-chart-container {
      margin: 20px;
      width: ~"calc(33% - 40px)";
      display: inline-block;
      vertical-align: top;
    }
  }

  .big-chart-container {
    width: ~"calc(100% - 60px)";
    margin: auto;
  }
}

.nemesis-map-field-item {
  .error-message {
    color: @red-color;
  }

  input.has-error {
    border-color: @red-color;
  }

  .form-control {
    border-radius: 0;
    width: 265px;
    height: 36px;
  }

  .remove-icon {
    cursor: pointer;
    color: @dark-font-color;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 10px;
  }
}

.categories-tree-popup {

  .modal-content {
    position: relative;
    .loading-screen {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 100000;

      .loading-icon {
        font-size: 50px;
        position: absolute;
        top: ~"calc(50% - 35px)";
        left: ~"calc(50% - 35px)";
        color: @dark-blue;
      }
    }
  }


  .search-field {
    border-radius: 0;
    margin-bottom: 10px;
  }

  .category-tree-item {
    .category-tree-item-text {
      display: inline-block;
      vertical-align: top;

      &.selected {
        background: @main-blue;
      }

      .highlight-text {
        background: yellow;
      }
    }
  }
}

.display-table {
  display: table;
}

.display-table-row {
  display: table-row;
}

.display-table-cell {
  display: table-cell;
}

.loading-icon {
  color: @light-font-color;
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(360deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@media (min-width: 1440px) and (max-width: 1790px) {
  .main-view-wrapper {
    .entity-sections {
      .entity-section {
        .section-item-container {
          &.full-screen-item-container {
            width: 1035px;
          }
        }
      }
    }
  }
}

@media (max-width: 1439px) {
  .main-view-wrapper {
    .entity-sections {
      .entity-section {
        .section-item-container {
          &.full-screen-item-container {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1085px) {
  .entity-field-container {
    width: 100%;
  }

  .main-view-wrapper {
    .entity-sections {
      .entity-section {
        .section-item-container {
          width: 100%;
          margin-right: 0;

          .language-changer {
            width: 100%;
          }

          &.simple-item-container {
            width: 100%;
            .entity-field-input-container {
              width: 100%;
            }
          }

          &.single-item-container-with-icon {
            width: 100%;
            padding-right: 10px;
            .entity-field-input-container {
              width: ~"calc(100% - 35px)";
            }
          }

          &.item-container-with-icon {
            padding-right: 10px;
            .entity-field-input-container {
              margin-top: 10px;
              width: ~"calc(100% - 35px)";
            }

            .entity-navigation-icon {
              padding-top: 40px;
            }
          }

          &.full-screen-item-container {
            width: 100%;
            .entity-field-input-container {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
